section.feature {
  width: 100%;
  background: #fff;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  position: absolute;
  width: 580px;
  right: 30px;
}
.description .hero-title {
  width: 580px;
  font-size: 40px;
  line-height: 50px;
}
.description .second-text {
  width: 580px;
}
.all-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-box {
  width: 280px;
  margin-bottom: 20px;
  font-family: var(--secondary);
}
.card-box p {
}
.card-title {
  font-weight: 600;
  font-size: 18px;
}
.card-box p {
  color: #000;
}
