.header{
    background: linear-gradient(180deg, rgba(255, 244, 242, 0.4) 0%, #FFF0EE 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navbar{
    background: #fff;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100px;
    border-radius: 6px;
    padding: 35px;
    margin-top: 30px;
    align-items: center;
}
.navbar ul {
    display: flex;
    width: 544px;
    height: 40px;
    flex-direction: row;
    align-items: center;
}
.navbar ul li{
    display: flex;
    flex-direction: row;
    width: 544px;
    height: 40px;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 600;
    color: #00000080;
    font-family: sans-serif;
    align-items: center;
    cursor: pointer;
    font-family: var(--secondary);
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
}
.navbar ul li:hover{
    color: #FE5E44;
}
.btn-download{
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background: #FE5E44;
    color:  #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;

}
.btn-download:hover{
    background: #c73822;
    transform: scale(1.05);
}